.swiper {
  margin-top: 50px;
  width: 100%; /* Makes it adapt to the screen */
  max-width: 1200px; /* Limits the maximum width */
  height: 500px; /* Default height for medium screens */
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    max-width: 1200px;
    height: 100vh;
    object-fit: cover;
  }
  .mySwiper {
    border: 2px solid red;
    /* padding: 20px; */
  }
  